<!DOCTYPE html >
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->

<head >

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Haliloğlu İnşaat</title>
    <meta name="description" content="Create &amp; Build template which can be used for construction, building companies and other companies that offer building services. It also can be used for any other site">
    <meta name="keywords" content="architecture, building, builder, company, construction, constructor, contractor, industry, plumber, roofing, electrician, engineer, handyman, painter, renovation">
    <meta name="author" content="Rollthemes.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/bootstrap.css" >

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/animate.css">

    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/toastr.css">

    <!-- Favicon and touch icons  -->
    <link href="../Template/icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="../Template/icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="../Template/icon/favicon.png" rel="shortcut icon">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!--[if lt IE 9]>
    <script src="javascript/html5shiv.js"></script>
    <script src="javascript/respond.min.js"></script>


<!-- Latest compiled JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="../Template/javascript/imagesloaded.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="../Template/javascript/parallax.js"></script>
    <script type="text/javascript" src="../Template/javascript/switcher.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery.fitvids.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery-validate.js"></script>
    <script type="text/javascript" src="../Template/javascript/main.js"></script>

    <script type="text/javascript" src="../Template/javascript/angular.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/angular-cookies.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/angular.ui-router.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/toastr.js"></script>
    <script type="text/javascript" src="../Template/constants.js"></script>
    <script type="text/javascript" src="../Template/services.js"></script>
    <script type="text/javascript" src="../Template/config.js"></script>


    <![endif]-->
</head>


<body class="header-sticky home"  ng-app="app" ng-controller="indexCtrl" >
<div class="boxed" >
    <div class="wrap-slide">
        <div class="header-slide">
            <div class="header-wrap">
                <!-- Header -->
                <header id="header" class="header">
                    <div class="header-inner clearfix">
                        <div id="logo" class="logo">
                            <a href="index.html" rel="home">
                                <img style="max-width: 100%;    width: 140px;    margin-top: -12px;" src="../Template/images/logo.png" alt="image">
                            </a>
                        </div><!-- /.logo -->
                        <div class="nav-wrap">
                            <div class="btn-menu"></div><!-- //mobile menu button -->
                            <nav id="mainnav" class="mainnav">
                                <ul class="menu">
                                    <li>
                                        <a href="index.html">Anasayfa</a>

                                    </li>
                                    <li><a href="../Template/about.html">Hakkımızda</a></li>

                                     <li class="active">
                                        <a href="../Template/contact.html">İLETİŞİM</a>
                                    </li>
                                </ul><!-- /.menu -->
                            </nav><!-- /.mainnav -->
                        </div><!-- /.nav-wrap -->
                    </div><!-- /.header-inner -->
                </header><!-- /.header -->
            </div><!-- /.header-wrap -->
        </div><!-- /.header-slider -->


        <div class="top-slider">
            <div class="flexslider ">
                <ul class="slides">





                    <li class="slide2">
                        <div class="container">
                            <div class="row">
                                <div class="flex_caption">
                                    <h3 class="sub-title FromRight"></h3>
                                    <h1 class="main-title FromLeft">SENİN HEDEFİN</h1>
                                    <p class="FromTop">Ve İzmir, Yeni Bir Simgeye Daha Kavuşuyor<br> </p>
                                    <a href="#first-modal" data-toggle="modal"  class="FromBottom roll-button-slide"> Devamını Gör<span class="icon-angle-double-right"></span></a>
                                </div><!-- /.flex-caption -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </li>
                    <li class="slide3">
                        <div class="container">
                            <div class="row">
                                <div class="flex_caption">
                                    <h3 class="sub-title FromBottom"></h3>
                                    <h1 class="main-title FromLeft">Görüyor musun ?</h1>
                                    <p class="FromRight">İzmir'in en gözde merkezlerinden Karşıyaka'da "yeni bir dünya" yükseliyor. </p>
                                    <a href="#first-modal" data-toggle="modal"  class="roll-button-slide FromTop">Devamını Gör
                                        <span class="icon-angle-double-right"></span>
                                    </a>
                                </div><!-- /.flex-caption -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </li>
                    <li class="slide1">
                        <div class="container">
                            <div class="row">
                                <div class="flex_caption">
                                    <h3 class="sub-title FromLeft"></h3>
                                    <h1 class="main-title FromRight">Her yere yakın </h1>
                                    <p class="FromBottom">Ama en çok hayallerinize…</p>
                                    <a href="#first-modal" data-toggle="modal"  class="FromTop captionDelay4 roll-button-slide"> Devamını Gör<span class="icon-angle-double-right"></span></a>
                                </div><!-- /.flex-caption -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </li>
                </ul>
            </div>
        </div><!-- /.roll-slider -->

        <div class="wrap-top">
            <div class="header-wrap">
                <div class="top">
                    <div class="header-wrap clearfix">
                        <ul class="infomation">
                            <li class="hours"><span>İş Saatleri:</span> Hafta İçi 9:00-17:00</li>
                            <li class="phone"><span>Telefon: </span> 0 232 369 08 73</li>
                            <li class="email"><span>Email:</span> info@mhalilogluinsaat.com</li>
                        </ul>
                        <ul class="socials">
                            <li class="facebook"><a href="https://www.facebook.com/Halilo%C4%9Flu-In%C5%9Faat-675026255853028/?fref=ts"><span>F</span></a></li>
                            <li class="twitter"><a ><span>L</span></a></li>
                            <li class="google"><a ><span>G</span></a></li>
                        </ul>
                    </div><!-- /.header-wrap -->
                </div><!-- /.top -->
            </div><!-- /.wrap-top -->
        </div><!-- /.header-wrap -->
    </div><!-- /wrap-slide -->







    <!---->
    <!-- Blog Posts -->
    <section class="roll-row parallax parallax4">
        <div class="mask white"></div><!-- /.mask -->
        <div class="container-fluid">
            <div class="row">
                <div class="roll-title-box text-center">
                    <div class="main text-dark">
                       SATIŞTAKİ PROJELER
                    </div>
                    <div class="sub">

                    </div>
                </div>
                <div class="roll-news">
                    <div class="article">
                        <div class="featured-post">
                            <img src="../ParentTemplate/images/blog/n5.jpg" alt="image">
                            <ul class="post-format">
                                <li class="date">
                                    <span class="day"><i class="fa fa-home"></i></span>
                                    <span class="month"></span>
                                </li>
                            </ul><!-- /.post-format -->
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <h3 class="title-post"><a href="#first-modal" data-toggle="modal" >SENİN HEDEFİN</a></h3>
                            <div class="excerpt">
                                <p>Ve İzmir, Yeni Bir Simgeye Daha Kavuşuyor
                                </p>
                            </div>

                        </div><!-- /.content-post -->
                    </div>

                    <div class="article">
                        <div class="item-post">
                            <div class="featured-post">
                                <img src="../ParentTemplate/images/blog/n1.jpg" alt="image">
                                <ul class="post-format">
                                    <li class="date">
                                        <span class="day"><i class="fa fa-home"></i></span>
                                    </li>
                                </ul><!-- /.post-format -->
                            </div><!-- /.feature-post -->
                            <div class="content-post">
                                <h3 class="title-post"><a href="#first-modal" data-toggle="modal" >Görüyor musun ?</a></h3>
                                <div class="entry-post">
                                    <p>İzmir'in en gözde merkezlerinden Karşıyaka'da "yeni bir dünya" yükseliyor.
                                    </p>
                                </div>

                            </div><!-- /.content-post -->
                        </div>
                    </div>

                    <div class="article">
                        <div class="item-post">
                            <div class="featured-post">
                                <img src="../ParentTemplate/images/blog/n2.jpg" alt="image">
                                <ul class="post-format">
                                    <li class="date">
                                        <span class="day"><i class="fa fa-home"></i></span>
                                    </li>
                                </ul><!-- /.post-format -->
                            </div><!-- /.feature-post -->
                            <div class="content-post">
                                <h3 class="title-post"><a href="#first-modal" data-toggle="modal" >Her yere yakın</a></h3>
                                <div class="entry-post">
                                    <p>Ama en çok hayallerinize…
                                    </p>
                                </div>

                            </div><!-- /.content-post -->
                        </div>
                    </div>

                    <div class="article">
                        <div class="item-post">
                            <div class="featured-post">
                                <img src="../ParentTemplate/images/blog/n3.jpg" alt="image">
                                <ul class="post-format">
                                    <li class="date">
                                        <span class="day"><i class="fa fa-home"></i></span>
                                    </li>
                                </ul><!-- /.post-format -->
                            </div><!-- /.feature-post -->
                            <div class="content-post">
                                <h3 class="title-post"><a href="#first-modal" data-toggle="modal" >Alsancak PROJESİ</a></h3>
                                <div class="entry-post">
                                    <p>Cumhuriyet Medyanı ile Dokuz Eylül Üniversitesi Rektörlüğü arasında Kordon ve körfez...
                                    </p>
                                </div>

                            </div><!-- /.content-post -->
                        </div>
                    </div>

                </div><!-- /.blog-carousel -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>


    <section class="roll-row parallax parallax4">
        <div class="mask white"></div><!-- /.mask -->
        <div class="container-fluid">
            <div class="row">
                <div class="roll-title-box text-center">
                    <div class="main text-dark">
                            BİTİRİLMİŞ PROJELER
                    </div>
                    <div class="sub">

                    </div>
                </div>
                <div class="roll-news">
                    <div class="article">
                        <div class="featured-post">
                            <img src="../ParentTemplate/images/blog/n5.jpg" alt="image">
                            <ul class="post-format">
                                <li class="date">
                                    <span class="day"><i class="fa fa-home"></i></span>
                                    <span class="month"></span>
                                </li>
                            </ul><!-- /.post-format -->
                        </div><!-- /.feature-post -->
                        <div class="content-post">
                            <h3 class="title-post"><a href="#first-modal" data-toggle="modal" >SENİN HEDEFİN</a></h3>
                            <div class="excerpt">
                                <p>Ve İzmir, Yeni Bir Simgeye Daha Kavuşuyor
                                </p>
                            </div>

                        </div><!-- /.content-post -->
                    </div>

                    <div class="article">
                        <div class="item-post">
                            <div class="featured-post">
                                <img src="../ParentTemplate/images/blog/n1.jpg" alt="image">
                                <ul class="post-format">
                                    <li class="date">
                                        <span class="day"><i class="fa fa-home"></i></span>
                                    </li>
                                </ul><!-- /.post-format -->
                            </div><!-- /.feature-post -->
                            <div class="content-post">
                                <h3 class="title-post"><a href="#first-modal" data-toggle="modal" >Görüyor musun ?</a></h3>
                                <div class="entry-post">
                                    <p>İzmir'in en gözde merkezlerinden Karşıyaka'da "yeni bir dünya" yükseliyor.
                                    </p>
                                </div>

                            </div><!-- /.content-post -->
                        </div>
                    </div>

                    <div class="article">
                        <div class="item-post">
                            <div class="featured-post">
                                <img src="../ParentTemplate/images/blog/n2.jpg" alt="image">
                                <ul class="post-format">
                                    <li class="date">
                                        <span class="day"><i class="fa fa-home"></i></span>
                                    </li>
                                </ul><!-- /.post-format -->
                            </div><!-- /.feature-post -->
                            <div class="content-post">
                                <h3 class="title-post"><a href="#first-modal" data-toggle="modal" >Her yere yakın</a></h3>
                                <div class="entry-post">
                                    <p>Ama en çok hayallerinize…
                                    </p>
                                </div>

                            </div><!-- /.content-post -->
                        </div>
                    </div>

                    <div class="article">
                        <div class="item-post">
                            <div class="featured-post">
                                <img src="../ParentTemplate/images/blog/n3.jpg" alt="image">
                                <ul class="post-format">
                                    <li class="date">
                                        <span class="day"><i class="fa fa-home"></i></span>
                                    </li>
                                </ul><!-- /.post-format -->
                            </div><!-- /.feature-post -->
                            <div class="content-post">
                                <h3 class="title-post"><a href="#first-modal" data-toggle="modal" >Alsancak PROJESİ</a></h3>
                                <div class="entry-post">
                                    <p>Cumhuriyet Medyanı ile Dokuz Eylül Üniversitesi Rektörlüğü arasında Kordon ve körfez...
                                    </p>
                                </div>

                            </div><!-- /.content-post -->
                        </div>
                    </div>

                </div><!-- /.blog-carousel -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <!---->




    <section class="roll-row parallax parallax6">
        <div class="mask white"></div><!-- /.mask -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="roll-contact text-center">

                        <div class="phone">0 (232) 369 08 73</div>
                        <div class="address">1835/1 Sokak  No : 3/1 D:1 Duman Apartmanı
                            Karşıyaka / İzmir</div>
                    </div><!-- /infomation -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.section -->


  <hr>

    <!-- Bottom -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="socials">
                        <li class="facebook"><a href="#"><span>F</span></a></li>
                        <li class="twitter"><a href="#"><span>L</span></a></li>
                        <li class="google"><a href="#"><span>G</span></a></li>
                    </ul>
                    <div class="copyright">
                        <p>© 2015 Her Hakkı Gizlidir <span class="icon-box  "></span> -
                            <a href="http://hakanhakyemez.com/" target = "_blank"> İhsan Haliloğlu</a></p>
                    </div>
                </div><!-- /.span12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
</div><!-- /.boxed -->



<div class="modal" style="z-index: 10000;" id="first-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="col-md-12">
                <div class="roll-tabs">
                    <ul class="menu-tab clearfix">
                        <li class="welcome active">
                            <span class="icon-bulb"></span>
                            <a href="#">YAPI</a>
                            <p>ÖZELLİKLERİ</p>
                        </li>
                        <li class="services">
                            <span class="icon-pen2"></span>
                            <a href="#">KULLANILAN</a>
                            <p>Malzemeler</p>
                        </li>
                        <li class="video">
                            <span class="icon-video3"></span>
                            <a href="#">FOTO</a>
                                <p>GALERİ</p>
                        </li>
                        <li class="client">
                            <span class="icon-bubble22"></span>
                            <a href="#">VİDEO</a>
                            <p>GÖSTERİMİ</p>
                        </li>
                    </ul><!-- /.menu-tab -->
                    <hr>
                    <div class="content-tab clearfix">
                        <div class="content-inner clearfix">
                            <div class="image-tab">
                                <img src="http://www.labenlab.com/yuklenen/bina/1.jpg" width="400px" height="400px" alt="image">
                            </div><!-- /.image-tab -->
                            <div class="text-tab">
                                <h3>Her Yere Yakın!</h3>
                                <p> Şehrin tam ortasında, yani kalbinde yer alıyor. Çağlayan meydanına yürüme mesafesinde olan bu yeni cazibe merkezi, yatırımcılarına lokasyon avantajı nedeniyle şehrin her yerine kolaylıkla ulaşma imkânı sunuyor. Metrobüs hattına, E-5, TEM ve bağlantı yollarına, köprülere birkaç dakikalık mesafede bulunuyor. Atatürk Havalimanı'ndan dünyanın her yerine ulaşmaksa yalnızca 15 dakika sürüyor.</p>
                                <ul class="roll-contact-info">
                                    <li class="address">Ev Adresi:
                                        <p>1835/1 Sokak  No : 3/1 D:1 Duman Apartmanı
                                            Karşıyaka / İzmir</p>
                                    </li>


                                </ul>

                            </div><!-- /.text-tab -->
                        </div><!-- /.content -->

                        <div class="content-inner clearfix">
                            <div class="image-tab">
                                <img src="../Template/images/blog/2.png" alt="image">
                            </div><!-- /.image-tab -->
                            <div class="text-tab services">
                                <div class="services-box">
                                    <div class="icon">
                                        <span class="icon-data"></span>
                                    </div>
                                    <div class="text">
                                        <h4 class="title">
                                            Genel Bilgiler
                                        </h4>
                                        <p>Consetetur elitrsed diam nonumy eirmod invidunt ut labore dolore magna.</p>
                                    </div>
                                </div><!-- /.icon-tab -->

                                <div class="services-box">
                                    <div class="icon">
                                        <span class="icon-shop"></span>
                                    </div>
                                    <div class="text">
                                        <h4 class="title">
                                           Tesisat
                                        </h4>
                                        <p>Stet clita kasd gubergren sea takimata sanctus estem ipsum dolor sit amet.</p>
                                    </div>
                                </div><!-- /.icon-tab -->

                                <div class="services-box">
                                    <div class="icon">
                                        <span class="icon-diamond"></span>
                                    </div>
                                    <div class="text">
                                        <h4 class="title">
                                           Beton
                                        </h4>
                                        <p>Nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
                                    </div>
                                </div><!-- /.icon-tab -->

                                <div class="services-box">
                                    <div class="icon">
                                        <span class="icon-bulb2"></span>
                                    </div>
                                    <div class="text">
                                        <h4 class="title">
                                           Elektrik
                                        </h4>
                                        <p>Dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.</p>
                                    </div>
                                </div><!-- /.icon-tab -->


                            </div><!-- /.text-tab -->

                        </div><!-- /.content -->


                        <div class="content-inner photo">
                            <div class="col-md-12 ">

                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                                        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img src="http://lorempixel.com/800/300/cats/1/" alt="First slide">
                                            <div class="container">
                                                <div class="carousel-caption">
                                                    <h1>Project 1</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="http://lorempixel.com/800/300/cats/3/" alt="Second slide">
                                            <div class="container">
                                                <div class="carousel-caption">
                                                    <h1>Project 2</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img src="http://lorempixel.com/800/300/cats/4/" alt="Third slide">
                                            <div class="container">
                                                <div class="carousel-caption">
                                                    <h1>Project 3</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div><br>





                                <!-- Post Info -->


                                <!-- LINKED NAV -->

                            </div><!-- /.col-md-6 -->
                        </div><!-- /.content -->

                        <div class="content-inner video">
                            <div class="row">
                                <div class="col-md-12 col-centered">
                                    <iframe width="700" height="440" src="https://www.youtube.com/embed/Zjei0_6lNgI" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div><!-- /.content -->
                    </div><!-- /.content-tab -->
                </div><!-- /.tabs -->
            </div><!-- /.col-md-12 -->
        </div>
    </div>
</div>
<a class="go-top">
    <span class="icon-chevron-small-up"></span>
</a>


<script>
    $(document).ready(function(){

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        $('#myCarousel').carousel(getParameterByName('slide'));
    });
</script>



<!-- Javascript -->





</body>

<!-- Mirrored from rollthemes.com/demo/html/create-build/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Oct 2015 13:31:20 GMT -->
</html>