<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Create &amp; Build - Construction &amp; Building template</title>
    <meta name="description" content="Create &amp; Build template which can be used for construction, building companies and other companies that offer building services. It also can be used for any other site">
    <meta name="keywords" content="architecture, building, builder, company, construction, constructor, contractor, industry, plumber, roofing, electrician, engineer, handyman, painter, renovation">
    <meta name="author" content="Rollthemes.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/bootstrap.css" >

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/responsive.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/colors/color1.css" id="colors">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/animate.css">

    <link rel="stylesheet" type="text/css" href="../Template/stylesheets/toastr.css">

    <!-- Favicon and touch icons  -->
    <link href="../Template/icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="../Template/icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="../Template/icon/favicon.png" rel="shortcut icon">

    <!--[if lt IE 9]>
    <script src="javascript/html5shiv.js"></script>
    <script src="javascript/respond.min.js"></script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="../Template/javascript/imagesloaded.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="../Template/javascript/parallax.js"></script>
    <script type="text/javascript" src="../Template/javascript/switcher.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery.fitvids.js"></script>
    <script type="text/javascript" src="../Template/javascript/jquery-validate.js"></script>
    <script type="text/javascript" src="../Template/javascript/main.js"></script>

    <script type="text/javascript" src="../Template/javascript/angular.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/angular-cookies.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/angular.ui-router.min.js"></script>
    <script type="text/javascript" src="../Template/javascript/toastr.js"></script>
    <script type="text/javascript" src="../Template/constants.js"></script>
    <script type="text/javascript" src="../Template/services.js"></script>
    <script type="text/javascript" src="../Template/config.js"></script>
</head>
<body class="header-sticky home"  ng-app="app" ng-controller="indexCtrl">
<div class="header-page">
    <div class="header-wrap clearfix">
        <!-- Header -->
        <header id="header" class="header clearfix">
            <div class="header-inner">
                <div id="logo" class="logo">
                    <a href="index.html" rel="home">
                        <img src="../ParentTemplate/images/logo.png" alt="image">
                    </a>
                </div><!-- /.logo -->
                <div class="nav-wrap">
                    <div class="btn-menu"></div><!-- //mobile menu button -->
                    <nav id="mainnav" class="mainnav">
                        <ul class="menu">
                            <li>
                                <a href="index.html">Home</a>
                                <ul class="submenu">
                                    <li><a href="../ParentTemplate/index-1.html">Home V.1</a>
                                    </li>
                                    <li><a href="../ParentTemplate/index-2.html">Home V.2</a></li>
                                    <li><a href="../ParentTemplate/index-3.html">Home V.3</a></li>
                                    <li><a href="../ParentTemplate/index-animated.html">Home Animated</a></li>
                                </ul><!-- /.submenu -->
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li>
                                <a href="../ParentTemplate/gallery-regular.html">Gallery</a>
                                <ul class="submenu">
                                    <li><a href="../ParentTemplate/gallery-regular.html">Gallery Regular</a>
                                        <ul class="submenu">
                                            <li><a href="../ParentTemplate/gallery-regular-1column.html">1 Column</a>
                                            </li>
                                            <li><a href="../ParentTemplate/gallery-regular-2columns.html">2 Columns</a>
                                            </li>
                                            <li><a href="../ParentTemplate/gallery-regular.html">3 Columns</a>
                                            </li>
                                            <li><a href="../ParentTemplate/gallery-regular-4columns.html">4 Columns</a>
                                            </li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                    <li><a href="../ParentTemplate/gallery-full-width.html">Gallery Full Width</a>
                                        <ul class="submenu">
                                            <li><a href="../ParentTemplate/gallery-full-width-2columns.html">2 Columns</a>
                                            </li>
                                            <li><a href="../ParentTemplate/gallery-full-width-3columns.html">3 Columns</a>
                                            </li>
                                            <li><a href="../ParentTemplate/gallery-full-width.html">4 Columns</a>
                                            </li>
                                            <li><a href="../ParentTemplate/gallery-full-width-5columns.html">5 Columns</a>
                                            </li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                    <li><a href="../ParentTemplate/gallery-extended.html">Gallery Extended</a>
                                        <ul class="submenu">
                                            <li><a href="../ParentTemplate/gallery-extended-1column.html">1 Column</a>
                                            </li>
                                            <li><a href="../ParentTemplate/gallery-extended.html">2 Columns</a>
                                            </li>
                                            <li><a href="../ParentTemplate/gallery-extended-3columns.html">3 Columns</a>
                                            </li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                    <li><a href="../ParentTemplate/gallery-item.html">Gallery Item</a>
                                        <ul class="submenu">
                                            <li><a href="../ParentTemplate/gallery-item.html">Style 1</a>
                                            </li>
                                            <li><a href="../ParentTemplate/gallery-item-style2.html">Style 2</a>
                                            </li>
                                            <li><a href="../ParentTemplate/gallery-item-style3.html">Style 3</a>
                                            </li>
                                        </ul><!-- /.submenu -->
                                    </li>
                                </ul><!-- /.submenu -->
                            </li>
                            <li>
                                <a href="../ParentTemplate/event.html">Events</a>
                                <ul class="submenu">
                                    <li><a href="../ParentTemplate/event.html">Left Sidebar</a></li>
                                    <li><a href="../ParentTemplate/event-rightsidebar.html"> Right Sidebar </a></li>
                                    <li><a href="../ParentTemplate/event-single.html">Single Left Sidebar </a></li>
                                    <li><a href="../ParentTemplate/event-single-rightsidebar.html">Single Right Sidebar </a></li>
                                </ul><!-- /.submenu -->
                            </li>
                            <li>
                                <a href="../ParentTemplate/member.html">Pages</a>
                                <ul class="submenu">
                                    <li><a href="../ParentTemplate/404.html">404</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="../ParentTemplate/member.html">Member</a></li>
                                    <li><a href="../ParentTemplate/shortcode.html">Shortcode</a></li>
                                </ul><!-- /.submenu -->
                            </li>
                            <li class="sub-right">
                                <a href="../ParentTemplate/blog.html">Blog </a>
                                <ul class="submenu">
                                    <li><a href="../ParentTemplate/blog-leftsidebar.html">Left Sidebar </a></li>
                                    <li><a href="../ParentTemplate/blog.html">Right Sidebar </a></li>
                                    <li><a href="../ParentTemplate/blog-single.html">Single Right Sidebar </a></li>
                                    <li><a href="../ParentTemplate/blog-single-leftsidebar.html">Single Left Sidebar </a></li>
                                    <li><a href="../ParentTemplate/blog-full-width-2columns.html">Full Width 2 Columns </a></li>
                                    <li><a href="../ParentTemplate/blog-full-width.html">Full Width 3 Columns</a></li>
                                    <li><a href="../ParentTemplate/blog-full-width-4columns.html">Full Width 4 Columns</a></li>
                                </ul><!-- /.submenu -->
                            </li>
                            <li class="active">
                                <a href="contact.html">Hakkımızda</a>
                            </li>
                        </ul><!-- /.menu -->
                    </nav><!-- /.mainnav -->
                </div><!-- /.nav-wrap -->
            </div><!-- /.header-inner -->
        </header><!-- /.header -->


        <!-- Page Title -->
        <div class="page-title text-center">
            <div class="page-title-heading">
                <h1 class="title">Hakkımızda</h1>
            </div><!-- /.page-title-captions -->

        </div><!-- /.page-title -->
    </div><!-- /.header-wrap -->
</div><!-- /.header-page -->




<div class="bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="socials">
                    <li class="facebook"><a href="#"><span>F</span></a></li>
                    <li class="twitter"><a href="#"><span>L</span></a></li>
                    <li class="google"><a href="#"><span>G</span></a></li>
                </ul>
                <div class="copyright">
                    <p>© 2015 Her Hakkı Gizlidir <span class="icon-box  "></span> -
                        <a href="http://hakanhakyemez.com/" target = "_blank"> İhsan Haliloğlu</a></p>
                </div>
            </div><!-- /.span12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

</body>
</html>